@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Rubik:ital,wght@1,600&display=swap");

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

canvas{
    transform: translate(0%, calc(calc(-2160px + 100vh)/2));
}

/* center this h1 tag */
h1 {
  padding: 0;
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  font-family: "Rubik", sans-serif;
  /* fade in animation */
}

h2 {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  font-family: "Rubik", sans-serif;
  display: inline;
}

h3{
    padding: 0;
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  font-family: "Rubik", sans-serif;
  /* fade in animation */
}

a{
    color:white
}

.typed-cursor{
    font-size: 2em;
    opacity: 1;
    color: white;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes fadein {
  from {
    left: 0%;
    opacity: 0;
  }
  to {
    left: 50%;
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
